# Kafka
kafka-python

# Redis
redis

# FastAPI
fastapi
uvicorn
websockets

# Data and ML
pandas
scikit-learn
numpy
xgboost

# Database
psycopg2-binary
sqlalchemy

# Validaion
pydantic

# Utilities
python-dotenv
uuid

# Monitoring
prometheus-client